stages:
  - build
  - deploy

build:
  stage: build
  image: oven/bun:latest
  script:
    - bun install --frozen-lockfile
    - bun add vercel
    - bunx vercel pull --yes --environment=production --token=$VERCEL_TOKEN
    - bunx vercel build --prod --token=$VERCEL_TOKEN
  artifacts:
    paths:
      - node_modules
      - .next/
      - public/
      - .vercel/
      - package.json
      - bun.lockb
    expire_in: 1 hour  
  rules:
    - if: $CI_COMMIT_BRANCH == "prod"

deploy:
  stage: deploy
  image: oven/bun:latest
  dependencies:
    - build
  script:
    - bun add --global vercel
    - vercel deploy --prebuilt --prod --token=$VERCEL_TOKEN --yes 
  rules:
    - if: $CI_COMMIT_BRANCH == "prod"
