default:
  image: node:20-slim

stages:
  - deploy

before_script:
  - curl -fsSL https://bun.sh/install | bash
  - export PATH="$HOME/.bun/bin:$PATH"
  - bun i -g vercel

deploy_preview:
  stage: deploy
  except:
    - prod
  variables:
    TOKEN: $VERCEL_TOKEN
  script:
    - vercel pull --yes --environment=preview --token="$TOKEN"
    - bun install
    - vercel build --token="$TOKEN"
    - vercel deploy --prebuilt --token="$TOKEN"

deploy_production:
  stage: deploy
  only:
    - prod
  variables:
    TOKEN: $VERCEL_TOKEN
  script:
    - vercel pull --yes --environment=production --token="$TOKEN"
    - bun install --production
    - vercel build --prod --token="$TOKEN"
    - vercel deploy --prebuilt --prod --token="$TOKEN"
