default:
  image: oven/bun:latest

stages:
  - deploy

before_script:
  - bun i -g vercel

deploy_preview:
  stage: deploy
  except:
    - prod
  variables:
    TOKEN: $VERCEL_TOKEN
  script:
    - vercel pull --yes --environment=preview --token="$TOKEN"
    - bun install --frozen-lockfile
    - vercel build --token="$TOKEN"
    - vercel deploy --prebuilt --token="$TOKEN"

deploy_production:
  stage: deploy
  only:
    - prod
  variables:
    TOKEN: $VERCEL_TOKEN
  script:
    - vercel pull --yes --environment=production --token="$TOKEN"
    - bun install --frozen-lockfile --production
    - vercel build --prod --token="$TOKEN"
    - vercel deploy --prebuilt --prod --token="$TOKEN"
